name: ms-documentation
services:    
    documentacion:
        image: ms-documentation:1.2.5
        deploy:
            replicas: 2
        environment:
            - ALUMNOS_API_URI=${ALUMNOS_API_URI}
            - ALUMNOS_API_GET=${ALUMNOS_API_GET}
            - GESTION_API_URI=${GESTION_API_URI}
            - GESTION_API_GET=${GESTION_API_GET}
            - CACHE_ADDRESS=${CACHE_ADDRESS}
            - CACHE_PASSWORD=${CACHE_PASSWORD}
            - GESTION_CACHE_PREFIX=${GESTION_CACHE_PREFIX}
        networks:
            ms-red:
                aliases:
                    - documentacion.universidad.localhost
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.documentacion.rule=Host(`documentacion.universidad.localhost`)"
            - "traefik.http.routers.documentacion.tls=true"
            # Balanceo de cargas
            - "traefik.http.services.documentacion.loadbalancer.server.port=5111"
            # Rate limit
            - "traefik.http.middlewares.documentacion.ratelimit.average=2"
            - "traefik.http.middlewares.documentacion.ratelimit.period=1s"
            - "traefik.http.middlewares.documentacion.ratelimit.burst=50"
            # Patron cortocircuito
            - "traefik.http.middlewares.documentacion.circuitbreaker.expression=LatencyAtQuantileMS(50.0) > 100"
            - "traefik.http.middlewares.documentacion.circuitbreaker.expression=ResponseCodeRatio(500, 600, 0, 600) > 0.25"
            - "traefik.http.middlewares.documentacion.circuitbreaker.expression=NetworkErrorRatio() > 0.5"
            # Red
            - "traefik.docker.network=ms-red"    
networks:
  ms-red:
    external: true